{% extends 'NoteBoardApp/base.html' %}

{% load static %}

{% block title %}TooDoo — {{ category }}{% endblock %}

{% block style %}{% static 'css/delete_category.css' %}{% endblock %}

{% block content %}
    <div class="main_block_title">
        <h2>Вы уверены что хотете удалить категорию "{{ object }}"?</h2>
    </div>
    <form method="post">{% csrf_token %}

        <a class="refuse" href="{% url 'category' object %}">Отказаться</a>
        <input type="submit" value="Подтвердить">
    </form>
{% endblock %}
